
//breakpoints
$phoneMax: 480px;
$phoneMin: 1px;

$tabletMax: 768px;
$tabletMin: 481px;

$middleMax: 1199px;
$middleMin: 769px;

$desktopMax: 1279px;
$desktopMin: 1200px;


$FullMax: 1680px;
$FullMin: 1280px;